{{>head}}

    {{>navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Capitán américa</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, necessitatibus sint. Id et consectetur voluptatum libero ullam explicabo iure velit deserunt totam, dolor voluptatibus harum, ab eligendi quia maxime excepturi!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/descarga.png" class="img-thumbnail">

        </div>
    </div>


    {{>footer}}