{{>head}}

<body>

    {{> navbar  }}

    <div class="jumbotron">
        <h1 class="display-4">Hola, {{ capitalizar nombre }}!</h1>
        <p class="lead">Esta es una página de prueba con el curso de Node.js aplicando handlebars.</p>
        <hr class="my-4">
        <p>Si te interesa saber más sobre la tecnología, haz click en el botón.</p>
        <a class="btn btn-primary btn-lg" href="https://www.udemy.com/course/node-de-cero-a-experto/" role="button">Leer más</a>
    </div>

    {{>footer}}
